<% content_for :title, 'Uep! Page not found!' %>
<h1>Uep! Page not found!</h1>
<p style="text-align: center">
  <%= image_tag "lost-sock.jpg" , class: 'img_100', style: 'margin-bottom:5px' %><br/>
  <b>The page you were looking for does not exists</b>
</p>
<p style="text-align: center">
  <%= @not_found_path %>
</p>
