// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image_cell {
  width:110px;
  text-align: center;
}

.table tbody>tr>td.vert_center
{
  vertical-align: middle;
}

.img_container , .img_container_small {
  display:table-cell;
  vertical-align:middle;
  text-align: center;
}

.img_container {
  width: 100px;
  height: 100px;
}

.img_container_small {
  width: 50px;
  height: 50px;
}

.img_container_small img {
  max-width: 50px;
  max-height: 50px;
}
